:root {
  --primary-color: #252422;
  --secondary-color: #eb5e28;
  --tertiary-color: #fffcf2;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */

header {
  padding: 25px 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 9999;
}
  
header h1{
  padding: 0 10px 0 50px;
  background-color: var(--secondary-color);
  font-size: 40px;
  color: var(--tertiary-color);
}
  
header a {
  text-decoration: none;
  color: var(--tertiary-color);
}
  
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav {
  margin: 10px;
}

header nav ul li a {
  padding: 10px 15px;
  margin: 10px;
  font-weight: normal;
  border-bottom: 3px solid var(--secondary-color);
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
section{
  padding: 100px;
}

/* Hero */

.hero {
  background-image: url("../images/hero\ image.jpg");
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 250px;
}

.hero h3 {
  font-size: 30px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  position:relative;
  bottom: -120px;
  padding: 8px 15px;
}

/* About Me & Work */

.section-title {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem; 
  text-align: right; 
  border-right: 3px solid;
  width: 15%;
  margin-right: 100px;
  padding: 0 20px;
  color: var(--primary-color);
}

#about-me{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.about-me-paragraph{
  width: 70%;
  line-height: 1.5;
  font-size: 1.2rem;
}
#work{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}